.library{padding:47px 19%;}
.library_block{padding:14px 0;}
.library_title{font-size:23px;color:#37474f;line-height:37px;}
.books_title_link{color:#37474f;}

.library_text{font-size:19px;line-height:25px;}