#login{padding:120px 0 230px;}
.input_wrap{padding:7px 0;}
.login_form_title{color:#333;}
.form_login{width:21%;padding:17px 0;}
.form_title{text-align: center;font-family:'Myraid Set Pro Thin';font-size:39px;padding-bottom:24px;}